.buttonsContainer {
    display: flex;
    justify-content: space-between;
    width: 600px;

}

.responseContainer {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.imageContainer {
}

.image {
}

.textContainer{
    width:450px;
}

.code {
}

.text {
}

.info {
}

.button {

   font-size: 15px;
    height: 35px;
}