.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidebar.open {
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    display: block;
    float: left;

    background: white;
}

.background {
color: deeppink;
    background: #666666;

}

.nav {
display: block;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
    text-align: left;
}

.nav a {

}

.nav a:hover {
    filter: opacity(130%);
    border-color: deeppink;
}

.nav a.active {
    filter: opacity(80%);

}
.close {
    position: absolute;
    top: 0;
    font-size: 36px;

}

.close img {
    border: none;
    position: fixed;
    margin-left: 14%;

}
.active {
    font-size: 20px;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}
