.input:focus {
}

.input {
    width: 300px;
    height: 45px;
    border-radius: 7px;
    border-color: blue;

}

.inputWrapper {

}

.superInput {
}

.errorInput {
    border-color: red;
    display: block;

}

.errorInput:focus {

}

.error {
    color: red;
}
.error.input {
    display: block;
}