.tech {
    width: 30vw;
}

.developer {

}

.techHeader {
    width: 30vw;
}

.developerHeader {

}

.row {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 20px;

}

.rowHeader {
    display: flex;
    align-items: center;
    background-color: #999999;
    height: 40px;
    padding-left: 20px;
    width: 50vw;
    margin-top: 20px;
}

.loading {
    position: absolute;
    margin: 150px 0 0 250px;
    opacity: 0.5;
}