.radio {
    margin-left: 30px;
    accent-color:black;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    font-size: 24px;
}

.options {
    display: flex;
    flex-direction: column;
}
