.sendForm {

}

.textarea {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #eee;
    border: 1px solid #bdbdbd;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .5rem;
    transition: background-color .15s ease-in-out;

}

.button {
    display: inline-block;
    padding: 15px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3CBC8D;
    border: none;
    border-radius: 16px;
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.button:active {

}
