.burgerMenuIcon {
    display: grid;
    width: 35px;
}

.header {
    display: grid;
    grid-template-columns: 2fr auto;
    font-size: 14px;
    background-color: #bdbdbd;
}

.header h1 {
    padding-right: 20px;
    text-align: right;
}